<div class="pointHistoryModal mt-3 text-muted">
  <h4>Recent Points</h4>
  <ul class="list-group">
    <% if !@combined_history.present? %>
      <li class="list-group-item d-flex justify-content-between align-items-center bg-light shadow-sm mb-2">
        <div class="point-history-details">
          <p class="mb-0">No points history available</p>
        </div>
      </li>
    <% else %>
    <% @combined_history.each do |record| %>
      <li class="list-group-item d-flex justify-content-between align-items-center bg-light shadow-sm mb-2">
        <div class="point-history-details">
          <% if record.type == 'Attendance' %>
            <div class="badge bg-success text-white mr-2">Attendance</div>
            <p class="mb-0">
              <%= record.date.in_time_zone.strftime("%m/%d") %> - Attendance to
              <%= record.event ? record.event.eventName : 'Unknown Event' %>
            </p>
          <% else %>
            <div class="badge text-bg-dark text-white mr-2">Admin</div>
            <p class="mb-0">
              <%= record.date.in_time_zone.strftime("%m/%d") %> - <%= record.awardDescription %>
            </p>
          <% end %>

        </div>
        <div class="d-flex align-items-center text-primary">
          <span class="points-display font-weight-bold" style="font-size: 1.2rem;"><%= record.points %> points</span>
        </div>
      </li>
    <% end %>
    <% end %>
  </ul>
</div>
