<% content_for(:title, 'Dashboard') %>

<div class="container mt-5 mb-5">
  <div class="row">
    <% if user_signed_in? %>
    <div class="col-lg-5 mb-4">
      <% current_hour = Time.now.in_time_zone.hour %>
      <% if current_hour >= 0 && current_hour < 12 %>
        <h1>Good Morning<% if user_signed_in? %>, <%= @user.full_name.split(" ").first %><% end %></h1>
      <% elsif current_hour >= 12 && current_hour < 17 %>
        <h1>Good Afternoon<% if user_signed_in? %>, <%= @user.full_name.split(" ").first %><% end %></h1>
      <% else %>
        <h1>Good Evening<% if user_signed_in? %>, <%= @user.full_name.split(" ").first %><% end %></h1>
      <% end %>
      <p>Welcome to your dashboard</p>
      <div class="points-summary mt-5 p-4 bg-white rounded shadow text-center">
        <h4>Points Summary</h4>
        <div class="total-points mt-3">
          <h2>Total Points: <span class="points-value"> <%= @total_points %></span></h2>
        </div>
        <div class="actions mt-4">
          <%= require_sign_in do %>
            <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#pointsHistoryModal">
              <i class="fas fa-history"></i> View Point History
            </button>
            <a href="<%= leaderboard_index_path %>" class="btn btn-info mb-2">
              <i class="fas fa-trophy"></i> View Leaderboard
            </a>
          <% end %>

        </div>
        <hr/>
        <% if @two_most_recent_records.present? %>
          <div class="pointHistory mt-3 text-muted">
            <h6>Recently Awarded Points</h6>
            <ul class="list-unstyled mt-3">
              <% @two_most_recent_records.each do |record| %>
                <li class="point-history-item d-flex justify-content-between align-items-center">
                  <div class="point-history-details text-start">
                    <% if record.type == 'Attendance' %>
                      <p class="mb-0"><%= record.date.strftime('%m/%d') %> - Attendance to
                        <%= record.event ? record.event.eventName : 'Unknown Event' %></p>
                    <% else %>
                      <p class="mb-0"><%= record.date.strftime('%m/%d') %> - <%= record.awardDescription %></p>
                    <% end %>
                  </div>

                  <div class="point-history-points text-end text-primary">
                    <p class="mb-0"><%= record.points %></p>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

      </div>
    </div>
      <%else %>
      <div class="col-lg-5">

          <h1>Welcome to MABS Tracker</h1>
        <div class="events mb-4 bg-white rounded p-2 shadow">
        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/mabstamu/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:1000px; min-width:256px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/mabstamu/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">View this profile on Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/mabstamu/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank">Multicultural Association of Business Students</a> (@<a href="https://www.instagram.com/mabstamu/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank">mabstamu</a>) • Instagram photos and videos</p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
        </div>
      </div>

  <% end %>
      <!-- Announcement Column -->
    <div class="col-lg-7">
      <div class="announcements bg-light rounded shadow">
        <div class="announcement-header ps-4 pt-4">
          <h4>Latest Announcements</h4>
        </div>
        <div class="announcement-list">
          <% if @announcements.empty? %>
            <p class="text-center">No Current Announcements</p>
          <% end %>
          
          <% @announcements.each do |announcement| %>
            <div class="announcement bg-info-subtle shadow rounded p-3 mb-3">
              <div class="d-flex align-items-center mb-2">
              <% announcement_user = User.find_by(uid: announcement.googleUserID) %>
                <% if announcement_user.present? %>
                  <%= render partial: 'application/user_avatar', locals: { avatar_user: announcement_user } %>
                <% else %>
                <div class="avatar rounded-circle overflow-hidden me-3" style="width: 40px; height: 40px;">                  
                  <%= image_tag 'deleted_profile.jpg', alt: "User Avatar", class: "img-fluid" %>
                </div>
              <% end %>
                <h5 class="mb-0 flex-grow-1"><%= announcement.subject %></h5>
              </div>
              <p class="text-muted mb-1"><%= announcement.dateOfAnnouncement.in_time_zone.strftime("%b %d, %Y, %I:%M %p %Z") %></p>

              <div id="announcement-content-<%= announcement.id %>" class="line-clamp announcement-body">
                <%= raw announcement.body %>
              </div>
              <%# Check if the content overflows its container to decide whether to show the "Read more" link %>
            </div>
          <% end %>

        </div>


        <a href="<%= announcements_url %>" class="view-all-announcements btn btn-link">View All Announcements</a>
      </div>
    </div>
  </div>

  <!-- Events Section -->
  <div class="events mt-4 bg-white rounded p-4 shadow">
    <h4>Upcoming Events</h4>
    <ul class="list-unstyled mt-3">

      <% if @events.empty? %>
        <li class="event mb-3 p-3 bg-light rounded">
          <p class="text-center">No Upcoming Events</p>
        </li>
      <% end %>

      <% @events.each do |event| %>
        <li class="event mb-3 p-3 bg-light rounded">
          <div class="row">
            <div class="col-md-6 mb-3">
            
            <a href="<%= events_path(start_date: event.eventTime.to_date) %>" class="event-link">
              <div class="event-date text-primary">
              <i class="far fa-calendar-alt"></i>
              <strong><%= event.eventTime.strftime("%A, %B %-d (%I:%M %p)") %></strong>
              </div>
            </a>
              <div class="event-details">
                <h5 class="event-title mb-1"><%= event.eventName %></h5>
                
                <p class="event-location text-muted mb-0">
                  <span class="text-small text-muted mr-2">Location:</span>
                  <%= event.eventLocation %>
                </p>
                
                <p class="m-0">
                  <strong class="m-0 text-secondary">Sponsor:</strong>
                  <%= event.sponsor_title %>
                </p>

                <strong class="m-0 text-secondary">Info:</strong>
                <p class="mb-0"><%= raw event.eventInfo %></p>
                
                <strong class="m-0 text-secondary">Points: </strong>
                <span class="total-points m-1 fs-6">
                    <%= event.eventPoints %>
                    <i class="fas fa-coins"></i>
                </span>
              </div>
            </div>
              <div class="col-md-6 d-flex flex-column align-items-end">
              <% if user_signed_in? %>
                <% if DateTime.now >= event.eventTime - 15*60 %>
                  <% if Attendance.exists?(googleUserID: current_user.uid, eventID: event.id) %>
                    <div class="attendance-status text-success">You are Checked in</div>
                  <% else %>
                    <%= form_with url: attendances_path, method: :post do |form| %>
                      <%= form.hidden_field :event_id, value: event.id %>
                      <%= form.password_field :password, class: 'form-control mb-2', placeholder: 'Enter Password' %>
                      <div class="col d-flex justify-content-end">
                        <%= form.submit "Check In", class: 'btn btn-primary' %>
                      </div>
                  <% end %>
                  <% end %>
                <% else %>
                  <% if Rsvp.exists?(user_uid: current_user.uid, event_id: event.id) %>
                    <div class="rsvp-status text-success">You are RSVP'd, Check in starts in <%= distance_of_time_in_words(DateTime.now, event.eventTime-15*60) %></div>
                      <% @rsvp = Rsvp.find_by(user_uid: current_user.uid, event_id: event.id) %>
                      <%= form_for(@rsvp, method: 'delete') do |f| %>
                        <div class="form-buttons">
                          <%= f.submit("Rescind RSVP", class: 'btn btn-primary') %>
                        </div>
                      <% end %>
                  <% else %>
                    <%= form_with url: rsvps_path, method: :post do |form| %>
                      <%= form.hidden_field :user_uid, value: current_user.uid %>
                      <%= form.hidden_field :event_id, value: event.id %>
                      <%= form.submit "  RSVP  ", class: 'btn btn-primary' %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
              </div>
          </div>
        </li>
      <% end %>
    </ul>
    <a href="<%= events_path %>" class="view-all-events btn btn-link">View All Events</a>
  </div>

  <% if user_signed_in? %>
  <div class="events mt-4 bg-white rounded p-2 shadow">
    <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/mabstamu/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:90vw; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/mabstamu/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">View this profile on Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/mabstamu/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank">Multicultural Association of Business Students</a> (@<a href="https://www.instagram.com/mabstamu/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank">mabstamu</a>) • Instagram photos and videos</p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
  </div>
  <% end %>


  <div class="modal fade" id="pointsHistoryModal" tabindex="-1" aria-labelledby="pointsHistoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pointsHistoryModalLabel">Points History</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'points_history', user: @user %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          var pointsPanel = document.querySelector('.points-summary');
          var announcementsPanel = document.querySelector('.announcements');
          var header = document.querySelector('.announcement-header');

          if (pointsPanel && announcementsPanel && header) {
              var pointsPanelBottom = pointsPanel.offsetTop + pointsPanel.offsetHeight;
              var headerHeight = header.offsetHeight;
              var maxHeight = pointsPanelBottom - announcementsPanel.offsetTop - headerHeight;

              var announcementList = document.querySelector('.announcement-list');
              if (announcementList) {
                  announcementList.style.maxHeight = maxHeight + 'px';
              }
          }
      });

      document.addEventListener("DOMContentLoaded", function() {
          document.addEventListener('click', function(event) {
              if (event.target && event.target.matches('.read-more-link')) {
                  event.preventDefault();
                  toggleContent(event.target.dataset.announcementId);
              }
          });
      });

      <% @announcements.each do |announcement| %>
      var contentDiv<%= announcement.id %> = document.getElementById('announcement-content-<%= announcement.id %>');
      if (contentDiv<%= announcement.id %>.scrollHeight > contentDiv<%= announcement.id %>.clientHeight) {
          var readMoreLink<%= announcement.id %> = document.createElement('a');
          readMoreLink<%= announcement.id %>.setAttribute('href', '#');
          readMoreLink<%= announcement.id %>.setAttribute('class', 'text-muted read-more-link');
          readMoreLink<%= announcement.id %>.setAttribute('data-announcement-id', '<%= announcement.id %>');
          readMoreLink<%= announcement.id %>.setAttribute('style', 'font-size: 14px;');
          readMoreLink<%= announcement.id %>.innerText = 'Read more';
          contentDiv<%= announcement.id %>.parentNode.appendChild(readMoreLink<%= announcement.id %>);
      }
      <% end %>


      function toggleContent(announcementId) {
          const contentDiv = document.getElementById(`announcement-content-${announcementId}`);
          contentDiv.classList.toggle('line-clamp');
          if (contentDiv.classList.contains('line-clamp')) {
              event.target.innerHTML = 'Read more';
          } else {
              event.target.innerHTML = 'Read less';
          }
      }


  </script>

</div>

