<div id="<%= dom_id announcement %>">
  <p>
    <strong>ID:</strong> <%= announcement.announcementID %><br>
    <strong>Created By:</strong> <%= announcement.googleUserID %><br>
    <strong>Subject:</strong> <%= announcement.subject %><br>
    <strong>Time:</strong> <%= announcement.dateOfAnnouncement %><br>
    <strong>Body:</strong> <%= announcement.body %>
  </p>
</div>
