<div id="<%= dom_id announcement %>" class="announcement-container bg-info-subtle rounded shadow-lg p-4 mb-3">
  <div class="d-flex flex-row align-items-start mb-2">
    <!-- User Avatar -->
    <div class="me-3">
      <% announcement_user = User.find_by(uid: announcement.googleUserID) %>
      <% if announcement_user.present? %>
        <%= image_tag announcement_user.avatar_url, alt: "User Avatar", class: "rounded-circle", style: 'width: 60px; height: 60px; object-fit: cover;' %>
      <% end %>    
    </div>
    <!-- Announcement Title and Body -->
    <div class="flex-grow-1">
      <%= link_to announcement_path(announcement), class: "text-decoration-none" do %>
        <h4 class="mb-1" style="color: #0056b3;"> <%= announcement.subject %></h4>
      <% end %>
      <div id="announcement-content-<%= announcement.id %>">
        <%= announcement.body %>
      </div>
    </div>
  </div>
  <!-- Announcement Date -->
  <div>
    <p class="announcement-date text-muted mb-0">Posted on: <%= announcement.dateOfAnnouncement.in_time_zone.strftime("%b %d, %Y, %I:%M %p %Z") %></p>
  </div>
</div>
