<%= form_with(model: announcement, local: true) do |form| %>
  <% if announcement.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
        <% announcement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :subject, "Subject" %>
    <%= form.text_field :subject, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :body, "Body" %>
    <%= form.rich_text_area :body, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
