<p style="color: green"><%= notice %></p>

<h1>Announcements</h1>

<% if user_signed_in? && @user.is_admin == true %>
  <%= link_to "Create New Announcement", new_announcement_path %><br><br>
<% end %>

<div id="announcements">
  <% @announcements.each do |announcement| %>
    <div id="<%= dom_id announcement %>">
      <%= render announcement %>
    </div>
    <br>
  <% end %>

  <h2> <%= link_to 'Back to Dashboard', dashboard_index_path %> </h2>
</div>
