<p style="color: green"><%= notice %></p>

<div id="announcements">
  <h2 class="header"> Announcements </h2>

  <div class="card">
    <div class="card-header">
      <%= require_sign_in do %>
        <div class="mb align-items-end">
          <% if user_signed_in? && @user.is_admin == true %>
            <%= link_to new_announcement_path, class: "btn btn-primary d-block w-100" do %>
              <i class="fas fa-plus-circle"></i> Create New Announcement
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="card-body">
      <% @announcements.each do |announcement| %>
        <div id="<%= dom_id(announcement) %>">
            <%= render announcement %>
          </div>
      <% end %>
    </div>
  </div>
</div>
