<p style="color: green"><%= notice %></p>

<h1>Announcements</h1> <%= link_to "New Announcement", new_announcement_path %><br><br>
<% i = 1 %>
<div id="announcements">
  <% @announcements.each do |announcement| %>
    <%=i%>. <%= link_to announcement do %>
              <%= announcement.announcementID %>
            <% end %>
    <% i = i + 1 %>
    <br>
  <% end %>
</div>
