<div id="announcements" class="mt-4 p-4">

  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      <h2 class="start-0">Announcements</h2>
      <%= require_sign_in do %>
        <div class="mb-3 align-items-end">
          <%= link_to "Create New Announcement", new_announcement_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="card-body">
      <% @announcements.each do |announcement| %>
        <div id="<%= dom_id(announcement) %>">
            <%= render announcement %>
          </div>
      <% end %>
    </div>
  </div>
</div>
