<% content_for(:title, 'Show Announcement') %>
<div class="container mt-4 mb-3">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2 class="mb-0">Announcement Details</h2>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @announcement %>" class="announcement-details">
        <%= render @announcement %>
      </div>

      <% if user_signed_in? && @user.is_admin == true %>
        <div class="actions mt-3">
<%= link_to "Edit", edit_announcement_path(@announcement), class: "btn btn-outline-primary me-2" %>
          <%= link_to "Delete", delete_announcement_path(@announcement), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
        </div>
      <% end %>
    </div>

  </div>
  <div class="mt-3">
    <%= link_to "Back to list", announcements_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
<style>
    .announcement-details > *:not(last-child) {
        margin-bottom: 0.5rem;
    }
</style>