<p style="color: green"><%= notice %></p>
<%= link_to "Back to list", announcements_path %>
<%= render @announcement %>

<div class="actions">
  <%= link_to("Edit", edit_announcement_path(@announcement)) %>
  <%= link_to("Delete", delete_announcement_path(@announcement))%>
</div>
