<%= link_to("Back to List", admin_tools_path) %>

<div class="points delete">
  <h2>Delete Points</h2>

  <%= form_for(@point, method: 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this point?</p>
    <p><%= @point.awardedTo %></p>
    <p><%= @point.dateOfAward %></p>
    <p><%= @point.awardDescription %></p>

    <div class="form-buttons">
      <%= f.submit("Delete point") %>
    </div>

  <% end %>
</div>
