<% content_for(:title, 'Leaderboard') %>
<div class="container leaderboard-container">
  <div id="leaderboard" class="m-3">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <div class="mb align-items-end">
              <h2 class="header text-center"> 
                <i class="fas fa-trophy"></i> Leaderboard
              </h2>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <h2 class="border-bottom border-gray border-2 text-center">Your Ranking</h2>
                  <div class="list-group">
                  <li class="list-group-item d-flex align-items-center bg-light shadow-sm mb-2">
                    <h4 class="current-user-rank">
                        <% if @current_user_rank == 1 %>
                            <i class="fas fa-medal" style="color: goldenrod;"></i>
                        <% elsif @current_user_rank == 2 %>
                            <i class="fas fa-medal" style="color: silver;"></i>
                        <% elsif @current_user_rank == 3 %>
                            <i class="fas fa-medal" style="color: #CD7F32;"></i>
                        <% else %>
                            #
                        <% end %>
                        <%= @current_user_rank%>
                    </h4>
                    <div class="vr mr-3"></div>
                    <h4 style="margin-left: 3%;">Total Points: </h4>
                    <p class="total-points m-1">
                        <%= @current_user.total_points %>
                        <i class="fas fa-coins"></i>
                    </p>
                </li>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-7">
                <h2 class="border-bottom border-gray border-2 text-center">Top Users</h2>
                <div class="list-group">
                  <% @users.each_with_index do |user| %>
                    <%= render 'user_card', user: user, rank: user.rank %>
                  <% end %> 
                </div>
                <% unless @show_all_users or (User.count == @users.count)%>
                  <div class="mt-3">
                    <%= link_to leaderboard_index_path(show_all: true), class: "btn btn-primary" do %>
                      View All Users
                    <% end %>
                    <%= link_to leaderboard_index_path(user_count: @user_count + 5), class: "btn btn-primary ms-2" do %>
                      View More Users
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
