<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirm Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to proceed?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="confirmAction">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="userManagementAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="userManagementHeader">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#userManagementBody" aria-expanded="false" aria-controls="userManagementBody">
        User Management
      </button>
    </h2>
    <div id="userManagementBody" class="accordion-collapse collapse" aria-labelledby="userManagementHeader" data-bs-parent="#userManagementAccordion">
      <div class="accordion-body">
        <%= form_with url: admin_tools_path, method: :get, local: true, class: "row g-3 align-items-center" do |form| %>
          <div class="col-auto">
            <%= form.label :search, "Search Users:", class: "col-form-label", for: "search_users" %>
          </div>
          <div class="col-auto">
            <%= form.text_field :search, id: "search_users", class: "form-control form-control-sm", aria: { label: "Search" }, placeholder: "Enter email" %>
          </div>
          <div class="col-auto">
            <%= form.submit "Search", class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>

      <div class="table-responsive">
          <table class="table table-striped mt-3 rounded-3">
            <thead>
            <tr>
              <th>Email</th>
              <th>Full Name</th>
              <th>Role</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.full_name %></td>
                <td><%= user.is_admin ? 'Admin' : 'User' %></td>
                <td>
                  <% if user.is_admin %>
                    <%= link_to 'Demote to User', demote_to_user_admin_path(user), method: :patch, class: "btn btn-sm btn-outline-secondary confirm-action", data: { confirm: "Are you sure you want to demote #{user.full_name} to user?" } %>
                  <%  else %>
                    <%= link_to 'Promote to Admin', promote_to_admin_admin_path(user), method: :patch, class: "btn btn-sm btn-outline-primary confirm-action", data: { confirm: "Are you sure you want to promote #{user.full_name} to admin?" } %>
                  <%  end %>
                    <%= link_to 'Remove User', destroy_user_path(user), method: :delete, class: "btn btn-sm btn-outline-danger confirm-action", data: { confirm: "Are you sure you want to remove #{user.full_name}?" } %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
  const confirmActionBtn = document.getElementById('confirmAction');
  let currentAction;

  document.querySelectorAll('.confirm-action').forEach(item => {
    item.addEventListener('click', function(e) {
      e.preventDefault(); // Prevent the link from directly navigating.
      currentAction = e.currentTarget; // Store the clicked element.
      // Fetch and display the confirmation message, which includes the user's name.
      document.querySelector('#confirmationModal .modal-body').textContent = currentAction.getAttribute('data-confirm');
      confirmationModal.show(); // Show the confirmation modal.
    });
  });

  confirmActionBtn.addEventListener('click', function() {
    confirmationModal.hide();
    if (currentAction) {
      // Create and submit a form to perform the action.
      const form = document.createElement('form');
      form.method = currentAction.getAttribute('data-method') || 'post';
      form.action = currentAction.href;
      document.body.appendChild(form);
      form.submit();
    }
  });
});
</script>
