<% content_for(:title, 'Admin Tools') %>

<div class="container pt-5 pb-5">

  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <h1>User Management</h1>

  <%= form_with url: admin_tools_path, method: :get, local: true do |form| %>
    <%= form.label :search, "Search Users:" %>
    <%= form.text_field :search %>
    <%= form.submit "Search" %>
  <% end %>



  <table class="table mt-3">
    <thead>
      <tr>
        <th>Email</th>
        <th>Full Name</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.full_name %></td>
          <td><%= user.is_admin ? 'Admin' : 'User' %></td>
          <td>
            <%# <%= link_to 'Promote to Admin', make_admin_user_path(user), method: :patch, data: { confirm: 'Are you sure?' } unless user.is_admin %> %>
            <%= link_to 'Remove User', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>

        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'admin_nonevent_points_manager' %>
  <%= render 'admin_points_maintenance' %>
</div>
