<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong> <%= user.email %><br>
    <strong>Name:</strong> <%= user.full_name %><br>
    <strong>Admin:</strong> <%= user.is_admin ? 'Yes' : 'No' %><br>
    <strong>Gender:</strong> <%= user.gender %><br>
    <strong>Hispanic/Latino:</strong> <%= user.is_hispanic_or_latino ? 'Yes' : 'No' %><br>
    <strong>Race:</strong> <%= user.race %><br>
    <strong>US Citizen:</strong> <%= user.is_us_citizen ? 'Yes' : 'No' %><br>
    <strong>First Gen College Student:</strong> <%= user.is_first_generation_college_student ? 'Yes' : 'No' %><br>
    <strong>Date of Birth:</strong> <%= user.date_of_birth %><br>
    <strong>Phone Number:</strong> <%= user.phone_number %><br>
    <strong>Bio:</strong> <%= user.bio %><br>
    <strong>Classification:</strong> <%= user.classification %><br>
    <strong>Total Points:</strong> <%= user.total_points %><br>
  </p>
</div>