<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong> <%= event.eventName %><br>
    <strong>Location:</strong> <%= event.eventLocation %><br>
    <strong>Time:</strong> <%= event.eventTime %><br>
    <strong>Info:</strong> <%= event.eventInfo %>
  </p>
</div>
