<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong> <%= event.eventName %><br>
    <strong>Location:</strong> <%= event.eventLocation %><br>
    <strong>Time:</strong> <%= event.eventTime %><br>
    <strong>Info:</strong> <%= event.eventInfo %><br>
    <br>
    <strong>Sponsor Title:</strong> <%= event.sponsor_title %><br>
    <strong>Sponsor Deescription:</strong> <%= event.sponsor_description %><br>
  </p>
</div>
