<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :eventName, style: "display: block" %>
    <%= form.text_field :eventName, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :eventLocation, style: "display: block" %>
    <%= form.text_field :eventLocation, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :eventInfo, style: "display: block" %>
    <%= form.rich_text_area :eventInfo, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :eventTime, style: "display: block" %>
    <%= form.datetime_local_field :eventTime, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :eventPoints, style: "display: block" %>
    <%= form.text_field :eventPoints, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :sponsor_title, style: "display: block" %>
    <%= form.text_field :sponsor_title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :sponsor_description, style: "display: block" %>
    <%= form.rich_text_area :sponsor_description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password, class: "form-control" %>
  </div>

  <br>
  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>