<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_importmap_tags %>
  <%= csrf_meta_tags %>
  <%= yield(:extra_css) %>
</head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<body>
<!-- Flash Messages -->
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show m-4" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
<% end %>
<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-bg">
  <div class="container-fluid">
    <%= image_tag "shortened-mabs-logo-removebg.png", alt: "Multicultural Association of Business Student Logo", height: '28', style: 'margin-right: 10px'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <%= link_to "Dashboard", dashboard_index_path, class: "nav-link", "data-turbo": "false" %>
        </li>
        <li class="nav-item">
          <%= link_to "Events", events_path, class: "nav-link", "data-turbo": "false" %>
        </li>
        <li class="nav-item">
          <%= link_to "Announcements", announcements_path, class: "nav-link", "data-turbo": "false" %>
        </li>
        <% if user_signed_in? && current_user.is_admin == true %>
          <li class="nav-item">
            <%= link_to "Admin Tools", admin_index_url, class: "nav-link", "data-turbo": "false" %>
          </li>
          <li class="nav-item">
            <%= link_to "Check In", attendances_path, class: "nav-link", "data-turbo": "false" %>
          </li>
        <% end %>
      </ul>
      <% if user_signed_in? && @current_user.present? %>
        <a class="d-flex align-items-center" data-bs-toggle="offcanvas" href="#userOffcanvas" role="button" aria-controls="userOffcanvas">
          <div class="d-flex align-items-center justify-content-center bg-secondary" style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;">
            <%= image_tag @current_user.avatar_url, alt: "User Avatar", style: 'width: 100%; height: auto;' if @current_user.avatar_url.present? %>
          </div>
        </a>
      <%else %>
        <%= link_to '<i class="fab fa-google"></i> Sign In with Google'.html_safe, user_google_oauth2_omniauth_authorize_path, class: "btn btn-light" %>      <% end %>

    </div>
  </div>
</nav>

<!-- Offcanvas Panel -->
<div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="userOffcanvas" aria-labelledby="userOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="userOffcanvasLabel"><i class="fas fa-user"></i> My Account </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <% if user_signed_in? && @current_user.present? %>
      <!-- User Profile Info -->
      <div class="user-info text-center">
        <%= image_tag @current_user.avatar_url, alt: "User Avatar", class: "img-fluid rounded-circle profile-img", style: 'width: 120px; height: 120px;' if @current_user.avatar_url.present? %>        <h6 class="mt-2"><%= @current_user.full_name %></h6>
        <p><%= @current_user.email %></p>
        <%= link_to '<i class="fas fa-edit"></i> Edit Profile'.html_safe, dashboard_index_url, class: 'btn btn-primary btn-settings' %>
      </div>
      <!-- Sign Out Button -->
      <div class="text-center mt-4">
        <%= link_to '<i class="fas fa-sign-out-alt"></i> Sign Out'.html_safe, destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
  <div class="offcanvas-footer mt-auto text-center">
    <small>Produced by <b>BACKeD Software</b></small>
  </div>
</div>
<%= yield %>

<%= yield(:extra_js) %>

</body>
</html>



